html, body {
  height: 100%;
  margin: 0;
  /* overflow: hidden;  */
  font-family: 'Inter', sans-serif; /* Apply Inter font */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Inter', sans-serif; /* Apply Inter font */
}

/* Add padding to avoid content hiding behind the footer */
.pb-16 {
  padding-bottom: 4rem; /* Adjust this value to match the footer's height */
  font-family: 'Inter', sans-serif; /* Apply Inter font */
}

/* Add any additional styles for the logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  font-family: 'Inter', sans-serif; /* Apply Inter font */
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Keyframes for logo spin animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Styles for cards */
.card {
  padding: 2em;
  font-family: 'Inter', sans-serif; /* Apply Inter font */
}

/* Styles for read-the-docs */
.read-the-docs {
  color: #888;
  font-family: 'Inter', sans-serif; /* Apply Inter font */
}